body {
    background-image: url("/images/lapcorpspoil.png");
}

div,
h1,
h3 {
    background-color: black;
    text-align: center;
    margin: 0 25px;
    color: white;
}

.white-border {
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
}

h1,
.title {
    font-family: Impact;
}

.w3-bar-item:hover {
    color: white
}

.w3-hover-red {
    color: red
}

.w3-hover-green {
    color: greenyellow
}

.w3-hover-blue {
    color: blue
}

.w3-hover-yellow {
    color: yellow
}

.w3-hover-orange {
    color: orange
}

.w3-hover-purple {
    color: purple
}

.w3-hover-gray {
    color: gray
}

.w3-hover-brown {
    color: brown
}

.w3-hover-cyan {
    color: cyan
}

.w3-hover-teal {
    color: teal
}

@font-face {
    font-family: 'Minecraftia';
    src: url('/fonts/MinecraftiaRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.w3-bar-item {
    font-family: Minecraftia;
}

.category {
    margin: 1.75% 2% 10px 0;
}

.image {
    margin: 0 2% 10px 0;
}

.bg-none {
    background: none
}

input.t45,
textarea {
    border-radius: 15px;
    width: 45%
}

form.login {
    border-radius: 15px;
    border: 3px dashed white
}

.align-left {
    text-align: left;
}

.hover-gray:hover {
    background-color: darkgray;
}